<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lab04 NodeJS Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/libs/bootstrap.min.css">
  <script src="/libs/jquery.min.js"></script>
  <script src="/libs/popper.min.js"></script>
  <script src="/libs/bootstrap.min.js"></script>
</head>
<body>
