<% include ../components/header.ejs %>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="/">
            <img src="/images/img1.jpeg" alt="logo" style="width:40px;">
        </a>
        
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" disabled style="cursor: default"><%= post.PTITLE %></a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <h2>
            <%= post.PTITLE %>
        </h2>

        <p>
            <%= post.PCONTENT%>
        </p>
        <br>
        <hr>
    </div>
<% include ../components/footer.ejs %>