<% include ../components/header.ejs %>

    <div class="container">
        <% posts.forEach(function(post){ %>
            <article class="card mt-4">
                <div class="card-header bg-dark">
                    <h3><a href="<%= '/entry/' + post.PID %>" style="color: #fff">
                        <%= post.PTITLE %>
                    </a></h3>
                </div>
                <div class="card-body">
                    <%= post.PDESCRIPTION%>
                </div>
                <div class="card-footer">
                    <span class="post-date"><%= post.PDATE %></span>
                </div>
            </article>
        <% }) %>
    </div>

    <script>
        console.log();
    </script>
<% include ../components/footer.ejs %>